html{

    margin: 0;
    padding: 0;
    
    font-size: 10px;

}

body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 95%);
    overflow-y: scroll;
    
    

    
    
    
}

.card{

    
    width:  27rem;
    height: 35rem;
    /*border: 2px solid black;*/
    color: hsla(0, 0%, 100%, 0.75);
    padding: 3.5rem 4.2rem 3.5rem 3.5rem;
    flex-shrink: 1;
    box-sizing: border-box;
    position: relative;

    font-family: 'Lexend Deca', sans-serif;
    
}

#sedans-card{

    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


#suvs-card{

    background-color: hsl(184, 100%, 22%);
}

#luxury-card{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.logo{

    width: 4.8rem;
    height: 3.2rem;
   
}

.paragraph{

    width: 20rem;
    height: 10rem;
}

.learnMore-button{

    position: relative;
    bottom: 10%;
    background-color: hsl(0, 0%, 95%);
    font-weight: bold;
    border: none;
    width: 12rem;
    height: 3.6rem;
    border-radius: 1.8rem;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 5.0rem;

}



.heading{

    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3rem;
    
}



.sedans-button{

    color: hsl(31, 77%, 52%);

}

.suv-button{

    color:hsl(184, 100%, 22%);
}

.lux-button{
    color:hsl(179, 100%, 13%);
}


.learnMore-button:hover{

    background-color: hsla(0, 0%, 0%, 0);
    color:hsl(0, 0%, 95%);
    border: 0.2rem solid hsl(0, 0%, 95%);
}


@media screen and (min-width: 1024px){

    body{
        flex-direction: row;
    }

    .card{

        height: 40rem;
    }



     #sedans-card{

    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.5rem;
    }


    #suvs-card{

        background-color: hsl(184, 100%, 22%);
    }

    #luxury-card{
        background-color: hsl(179, 100%, 13%);
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .learnMore-button{

        bottom: 3%;
    }


}




